.main-page {
  display: flex;
}

* {
  box-sizing: border-box;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}

aside {
  background-color: red;
  width: 15%;
}

main {
  display: block;
}

body {
  /* background: linear-gradient(90deg, rgb(248, 255, 0) 0%, rgb(58, 213, 159) 100%); */
  background-color: gray;
}

.item {
    background-color: white;
    margin: 4px;
    border-radius: 1rem;
    border: 0.5rem solid transparent;
    width: 100%;
    position: relative;
    z-index: -1;
}
